.mini-test {
    margin-bottom: 40px;
    margin-left: 30px;

    .collapse-title {
        text-transform: uppercase;
        text-align: center;
        background-color: $cl-cyan;
        color: #fff;
        padding: 10px;
        // cursor: pointer;
    }

    .collapse-content {
        .list-photo {
            margin: 0;
        }
    }

    @include respond (max-414) {
        margin-left: 0px;
    }
}