.test-part-common {
    .sec-head {
        &.sec-head-common-2 {
            text-align: center;
            padding: 15px 0px;
            border-bottom: 1px solid $cl-border;
            margin-bottom: 15px;

            .heading {
                font-size: 25px;
                font-weight: 500;
            }

            .sub-heading {
                @include respond (max-414) {
                    font-size: 14px;
                }
            }
        }
    }

    .sec-body {
        &.sec-body-common-2 {
            padding: 25px 50px;

            .box-picture {
                text-align: center;
                margin-bottom: 30px;
                background-color: #f9f9f9;
                padding: 20px 0;

                .image {
                    height: 400px;

                    @include respond (max-414) {
                        height: auto;
                    }
                }

                @include respond (max-414) {
                    margin-bottom: 15px;
                    padding: 0;
                }
            }

            .box-audio {
                text-align: center;
                margin-bottom: 30px;

                audio {
                    width: 50%;
                    outline: none;

                    @include respond (max-1600) {
                        width: 65%;
                    }

                    @include respond (max-1440) {
                        width: 70%;
                    }

                    @include respond (max-1366) {
                        width: 75%;
                    }

                    @include respond (max-414) {
                        width: 100%;
                    }
                }
            }

            .box-question {
                padding-bottom: 50px;
                margin-bottom: 50px;
                border-bottom: 1px solid #ccc;

                &__title {
                    font-size: 25px;
                    color: #000;
                    font-weight: 500;
                    margin-bottom: 25px;

                    span {
                        color: #666;
                        font-size: 18px;
                        font-weight: normal;
                    }
                }

                &__content-text {
                    margin: 30px 0 50px 0;
                    border: 1px solid #ccc;
                    padding: 15px 30px;
                    background-color: $cl-f3;

                    p {
                        line-height: 1.5;
                    }

                    @include respond (max-414) {
                        padding: 15px;
                    }
                }

                .list-question {
                    li {
                        .item {
                            display: flex;

                            &__choice {
                                width: 40px;
                                height: 40px;
                                border: 2px solid #ccc;
                                border-radius: 50%;
                                margin-right: 20px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                cursor: pointer;
                                font-weight: 600;

                                &.item-choiced {
                                    border: 2px solid $cl-cyan;
                                    color: $cl-cyan;
                                }
                            }

                            &__content {
                                margin-top: 10px;
                                line-height: 1.25;
                                width: calc(100% - 40px);
                                cursor: pointer;

                                p {
                                    font-weight: normal;
                                    line-height: 1.25;
                                }
                            }

                            &.check-true {
                                .item__choice {
                                    background-color: #0C980C;
                                    color: #fff;
                                    border-color: #0C980C;
                                }

                                .item__content {
                                    color: #0C980C;
                                }
                            }

                            &.check-false {
                                .item__choice {
                                    background-color: red;
                                    color: #fff;
                                    border-color: red;
                                }

                                .item__content {
                                    color: red;
                                    text-decoration: line-through;
                                }
                            }
                        }

                        &:not(:last-child) {
                            margin-bottom: 15px;
                        }
                    }
                }
            }

            @include respond (max-414) {
                padding: 0;
            }
        }

        .box-question-part {
            margin: 0 200px 50px 200px;
            padding: 15px 20px;
            background-color: $cl-f3;
            border: 1px solid #ccc;

            p {
                font-weight: 500;
                line-height: 1.5;
                margin-bottom: 15px;
                text-align: justify;
            }

            @include respond (max-1600) {
                margin: 0 0 50px 0;
            }

            @include respond (max-414) {
                padding: 15px;
            }
        }
    }
}